:root {
    --bg-color: #fff;
    --inverted-bg-color: #182863;
    --primary-color: #0111ec;
    --secondary-color: #3168ff;
    --inverted-primary-color: #01EC8A;
    --inverted-secondary-color: #018850;
}