.page {
    margin: 0;
}

.flex {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.casetsContainer {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 45px;
    max-height: 700px;
    overflow-y: scroll;
}